{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <h3>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</h3>
  {% else %}
    <center><h3>Please login to see this page.</h3></center>
  {% endif %}
{% endif %}


<div class="container">
 <h1 class="text-center logo my-4">
      <a href="{% url 'index' %}">Local Library</a>
    </h1>

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% include 'includes/form.html' %}

            <button type="submit" class="btn btn-primary btn-block" value="login">Log in</button>
		<input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          New to Local Library? <a href="{% url 'signup' %}">Sign up</a>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
        </small>
      </div>
    </div>
  </div>
</div>

{% endblock %}