{% extends "base_generic.html" %}

{% block content%} 

<h1>Local Library Home</h1>
<p>Welcome to LocalLibrary</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
    
    <ul>
        <li><strong>Books </strong>{{ num_books }}</li>
        <li><strong>Copies </strong>{{ num_instances }}</li>
        <li><strong>Copies Available </strong>{{ num_instances_available}}</li>
        <li><strong>Authors </strong>{{ num_authors }}</li>
        <li><strong>Contains 'Harry' </strong>{{ book_contains_x }}</li>


    </ul>
{% if query %}
    <h5>
        You searched for {{ query }}
    </h5>
    {% if result%}
    <ul>
        {% for r in result %}
            <li>{{ r.title}}</li>

        {% endfor %}
    </ul>
    {%else%}
    <h7>No book named {{query}}</h7>
    {% endif %}
{% else%}
    <h5>Enter something in the searchbox</h5>
{% endif %}
{% endblock%}